// imported CSS

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

// style rule - selector{declaration;}
// declaration - {propertyname:value;}
// css variables

:root{
    --main-color: #05a081;
    --font-family: 'Nunito';
    --primary-color: red; 
}

body{
    background-color: lightblue;
}
h3{
    color: var(--main-color);
}